{% extends 'layouts/main.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12" style="margin: 0 auto;">
          <div class="row">

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Enquiry Requests</h5>
                  <p>Clicking the prediction button will send a request to the API using the current data.</p>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date Submitted</th>
                        <th scope="col">Predict</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Brandon Jacob</td>
                        <td>Designer</td>
                        <td>2016-05-25</td>
                        <td>
                          <button class="btn btn-primary rounded-pill btn-sm">Predict</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            
          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>
{% endblock %}